{% extends 'User/base.html' %}

{% block content %}
  <h2>Alterar Senha</h2>
  <p>Você está prestes a alterar sua senha. Por favor, forneça uma nova senha:</p>
  <form method="post" action="{% url 'User:change_password' uidb64='some_uidb64' token='some_token' %}">
    {% csrf_token %}
    <label for="new_password">Nova Senha:</label>
    <input type="password" name="new_password" required>
    <label for="confirm_new_password">Confirmar Nova Senha:</label>
    <input type="password" name="confirm_new_password" required>
    <button type="submit">Alterar Senha</button>
  </form>
{% endblock %}
