{% extends 'User/base.html' %}

{% block content %}
  <h2>Login com Senha</h2>
  <p>Por favor, insira seu número de telefone e senha para fazer login:</p>
  <form method="post" action="{% url 'User:password_login' %}">
    {% csrf_token %}
    <label for="phone_number">Número de telefone:</label>
    <input type="text" name="phone_number" required>
    <label for="password">Senha:</label>
    <input type="password" name="password" required>
    <button type="submit">Login</button>
  </form>
{% endblock %}
