{% extends "Transactions\base.html" %}
{% load static %}

{% block content %}
    <h1>Transaction History</h1>
    <form method="post" action="{% url 'receipt' transaction_id %}">
        {% csrf_token %}
        <ul>
            {% for transaction in transactions %}
                <li>
                    <input type="checkbox" name="selected_transactions" value="{{ transaction.id }}">
                    {{ transaction.timestamp }} - {{ transaction.amount }} - {{ transaction.content }}
                </li>
            {% endfor %}
        </ul>
        
        <button type="submit" class="btn btn-primary mt-3">Generate Receipt</button>
    </form>

    <div class="row">
        <div class="col">
            <a href="{% url 'user-home' %}" class="btn btn-primary mt-3">Back</a>
        </div>
    </div>
{% endblock %}

