{% extends "Transactions\base.html" %}
{% load static %}

{% block content %}
    <h1>Transfer</h1>
    <form method="post">
        {% csrf_token %}
        
        <label for="{{ form.recipientIBAN.id_for_label }}">Recipient IBAN:</label>
        {{ form.recipientIBAN }}
        {{ form.recipientIBAN.errors }}

        <label for="{{ form.amount.id_for_label }}">Amount:</label>
        {{ form.amount }}
        {{ form.amount.errors }}

        <button type="submit" class="btn btn-primary">Transfer</button>
        

    </form>

    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Error:</strong> {{ form.errors }}
        </div>
    {% endif %}

{% endblock %}

