body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}


.bg-dark{
	background-color: #4f868c!important;
}


.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}
.col-lg-4{
	margin-left: 10px;
}
.btn{
	border-radius: 0;
}


.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.hidden{
	display: none!important;
}